<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        .card>a{width: 100%;height: 200px;display: block;background-color: #ccc;position: relative;overflow: hidden}
        .card-img-top{width: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%)}
        nav{padding:10px 0}
        .card{margin-top: 30px}
    </style>
    <title>个人相册</title>
</head>
<body>
<nav class="bg-dark">
    <h1 class="text-white text-center"><%=albumname%>的个人相册</h1>
</nav>
<p class="bg-light">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">相册首页</a></li>
        <li class="breadcrumb-item"><%=albumname%>的相册</li>
    </ol>
</p>
<div class="container">
    <div class="row">
        <%for(var i=0;i<srcs.length;i++){%>
        <div class="col-3">
            <div class="card">
                <a href="<%=srcs[i]%>" target="_blank"><img class="card-img-top" src='<%=srcs[i]%>' alt="该图片无法显示"></a>
                <div class="card-body">
                    <a href="<%=srcs[i]%>" target="_blank"><h4 class="card-title"><%=filenames[i]%></h4></a>
                </div>
            </div>
        </div>
        <%}%>
    </div>

</div>
</body>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="/js/jquery-3.1.1.min.js"></script>

<!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
<script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>

<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
<script src="/js/bootstrap.min.js"></script>
</html>